.about {
  min-height: 100vh;

  display: flex;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #e2ebf0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.about__wrapper {
  max-width: 80vw;
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: center;

  background-color: $color-bg--white-50;

  box-shadow: 0 4px 24px 1px $color-bg--black-30;
}


.about__title {
  // @include reset;
}


.about__desc {
  @include reset;
  margin-bottom: 10px;
}

@media (max-width: $tablet-width) {
  .about {
    background-image: none;
  }
}
