.about {
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.about__wrapper {
  max-width: 80vw;
  padding: 15px;

  background-color: $color-bg--white;
}


.about__title {
}


.about__desc {
}
