.about {
  display: flex;
  align-items: center;

  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #e2ebf0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.about__wrapper {
  max-width: 80vw;
  padding-top: 50px;
  padding-bottom: 50px;

  // text-align: center;
  // text-align: left;

  background-color: $color-bg--light-50;

  box-shadow: 0 4px 24px 1px $color-bg--dark-30;
}


.about__title {
  // @include reset;
}


.about__desc {
  @include reset;

  max-width: 75ch;
  margin-bottom: 20px;
}

@media (max-width: $tablet-width) {
  .about {
    background-image: none;
  }
}
