.design {
  display: flex;
  align-items: center;

  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #e2ebf0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-repeat: no-repeat;
  background-position: center;
  // background-attachment: fixed;
}

.design__wrapper {
  max-width: 80vw;
  padding-top: 50px;
  padding-bottom: 50px;

  // text-align: center;

  background-color: $color-bg--light-50;
  box-shadow: 0 4px 24px 1px $color-bg--dark-30;
}


// .design__title {
// }


.design__desc {
  @include reset;

  max-width: 75ch;
  margin-bottom: 20px;
}

.design__btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;

  color: #010102;
  // color: $color--light;

  background-color: $color-btn--accent;

  border-radius: 50px;
  border: 1px solid $color-btn--accent;

  box-shadow: 0 2px 10px 0 $color-bg--dark-30;


  &:hover {
    color: $color-btn--accent;

    background-color: $color--light;

    border: 1px solid $color-btn--accent;
  }

  &:active {
    box-shadow: 0 0 10px 2px $color-btn--accent;
  }
}

@media (max-width: $tablet-width) {
  .design {
    background-image: none;
  }
}

