.feedback {
  width: 50vw;
  padding: 50px;

  color: $color--white;

  background-color: $color-bg--modal;

  box-shadow: 0 0 20px 0 $color-bg--white-50;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__policy-desc {
  @include reset;
  margin-top: 20px;
  font-size: 0.7rem;
}


.feedback__policy-link {
  color: $color--link;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }
}


@media (max-width: $desktop-width--min) {
  .feedback {
    width: 65vw;
  }
}


@media (max-width: $tablet-width) {
  .feedback {
    width: 85vw;
  }
}

@media (max-width: $mobile-width--max) {
  .feedback {
    width: 85vw;
    padding: 60px 30px 30px;
  }
}
