.footer-nav {
  @include reset-list;
  display: flex;
  flex-direction: row;
  // flex-grow: 1;
  justify-content: space-around;
  flex-wrap: wrap;
}


.footer-nav__item {
  margin-right: 20px;
  // flex-grow: 1;

  &--main {
    display: none;
  }
}


.footer-nav__link {
  @include hover-nav;
  padding: 10px;

  color: inherit;
}

@media (max-width: $desktop-width--min) {
  .footer-nav__item {
    margin-right: 0;
    margin-bottom: 20px;

    &--main {
      display: block;
    }
  }
}

@media (max-width: $tablet-width--max) {
  .footer-nav__item {
    margin-bottom: 40px;
  }
}

@media (max-width: $mobile-width--max) {
  .footer-nav__item {
    margin-bottom: 20px;
  }
}
