.footer-nav {
  @include reset-list;
  display: flex;
  flex-direction: row;
  // flex-grow: 1;
  justify-content: space-around;
  flex-wrap: wrap;
}


.footer-nav__item {
  margin-right: 20px;
  // flex-grow: 1;
}


.footer-nav__link {
  @include hover-nav;
  padding: 10px;

  color: inherit;

  // box-shadow: 6px 6px 12px rgba(255, 211, 95, 0.3), -8px -8px 12px $color--white;
  // border-radius: 3px;

  // transition: box-shadow 0.4s ease-in-out;

  // &:hover {
  //   box-shadow: 1px 1px 2px rgba(255, 211, 95, 0.4), -1px -1px 2px $color--white;
  //   transition: box-shadow 0.4s ease-in-out;
  // }
}
