// .form {
// }


// .form__label {
// }


.form__input {
  background-color: $color-bg--primary;

  margin-bottom: 7px;
  padding: 15px 20px;

  border: none;
  // line-height: 1.67;

  &--text {
    resize: none;
  }

  &::placeholder {
    // color: #808080;
  }

  &:focus,
  &--text:focus {
    outline: none;
    box-shadow: 0 0 10px 2px $color-btn--accent;
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }
}


@media (max-width: $tablet-width) {
  .form__input {
    padding: 10px 15px;
  }
}

@media (max-width: $mobile-width--max) {
  .form__input {
    padding: 5px 10px;
  }
}
