.gallery {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $color-bg--primary;
}


.gallery__wrapper {
  width: 89vw;
}


.gallery__title {
  margin-bottom: 50px;
}


.gallery__block {
  margin-bottom: 50px;
}


.gallery__subtitle {
  @include reset;

  margin-bottom: 30px;
  padding-left: 50px;
}


.gallery__slider {
  padding: 0 50px;
}

.gallery__slider-wrapper {
  // width: 50vw;
  margin-bottom: 60px;
}


.gallery__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  // object-position: right bottom;

  border-radius: 15px;
}

.gallery__slider--kitchen .gallery__img {
  // object-position: center center;
  // object-position: 50% 50%;
  // object-position: 10% 30%;
}

.gallery__slider--cabinets .gallery__img {
  // width: 300px;
  height: 500px;
  // object-position: right bottom;
  // object-position: 50% 50%;
  // object-position: 10% 30%;
}

.gallery__slider--hallways .gallery__img {
  object-position: center 80%;
  // object-position: 50% 50%;
  // object-position: 10% 30%;
}


.gallery__btn {
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: $mobile-width--max) {
  .gallery__slider--kitchen .gallery__img {
    height: 50vh;
    // object-position: center center;
    // object-position: 50% 50%;
    // object-position: 10% 30%;
  }

  .gallery__slider--cabinets .gallery__img {
    height: 65vh;
    // width: 300px;
    // height: 500px;
    // object-position: right bottom;
    // object-position: 50% 50%;
    // object-position: 10% 30%;
  }

  .gallery__slider--hallways .gallery__img {
    height: 50vh;
    // object-position: center 80%;
    // object-position: 50% 50%;
    // object-position: 10% 30%;
  }

}
