.intro {
  display: flex;
  align-items: center;
  min-height: 100vh;

  background-color: $color-bg--secondary;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-position: 0 10%;
  background-position: center;
}

.no-js .intro {
  background-image: url("../img/bg-intro-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-desktop@2x.jpg");
  }
}

.webp .intro {
  background-image: url("../img/bg-intro-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-desktop@2x.webp");
  }
}

.no-webp .intro {
  background-image: url("../img/bg-intro-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-desktop@2x.jpg");
  }
}

.intro__wrapper {
  transform: translateY(- $min-header-height);
}


.intro__quote {
  max-width: 90vw;
  margin: 0 auto;
  padding: 15px;

  background-color: rgba($color--black, 0.7);
}


.intro__title {
  margin: 0 auto;
  // margin-bottom: 1.5vh;
  margin-bottom: 1vh;

  font-size: 3.56rem;
  font-size: var(--font-size-xxl);
  color: $color--light;
}


.intro__cite {
  @include reset;
  display: block;
  padding-right: 5vw;
  // max-width: 100%;
  max-width: 75ch;

  font-size: 2rem;
  font-size: var(--font-size-lg);
  text-align: right;
  color: $color--light;
  overflow-wrap: break-word;
}

@media (max-width: $desktop-width--min) {
  .no-js .intro {
    background-image: url("../img/bg-intro-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-desktop@1x.jpg");
    }
  }

  .webp .intro {
    background-image: url("../img/bg-intro-tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-desktop@1x.webp");
    }
  }

  .no-webp .intro {
    background-image: url("../img/bg-intro-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-desktop@1x.jpg");
    }
  }

  .intro__wrapper {
    transform: translateY(0);
  }
}


@media (max-width: $tablet-width) {
  .intro {
    background-attachment: local;
    background-size: cover;
    // background-position: 0 10%;
    background-position: center;
  }
}

@media (max-width: $mobile-width--max) {
  .no-js .intro {
    background-image: url("../img/bg-intro-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-mobile@2x.jpg");
    }
  }

  .webp .intro {
    background-image: url("../img/bg-intro-mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-mobile@2x.webp");
    }
  }

  .no-webp .intro {
    background-image: url("../img/bg-intro-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-mobile@2x.jpg");
    }
  }
}
