.logo {
  display: block;
  // display: inline-block;
  text-align: center;

  // vertical-align: middle;
}

@media (max-width: $mobile-width--max) {
  .logo__img {
    display: block;
    width: 60px;
    height: 60px;

    &--footer {
      width: 100px;
      height: 70px;
    }
  }
}
