.main-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}


.main-nav__list {
  @include reset-list;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.main-nav__item {
}


.main-nav__link {
  @include hover-nav;
  padding: 10px;

  color: inherit;
}


@media (max-width: $desktop-width--min) {
  .main-nav {
    display: none;

    &--open {
      display: flex;
      width: 100%;
      flex-direction: column;

      animation-name: fadein;
      animation-duration: 0.6s;
      // animation-direction: alternate;



      .main-nav__list {
        justify-content: flex-start;
        flex-direction: column;
      }


      .account__text {
        display: none;
      }
    }
  }
}

@keyframes fadein {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}
