.main-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}


.main-nav__list {
  @include reset-list;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.main-nav__item {
  max-width: 250px;
  margin: 10px;

  &--main {
    display: none;
  }
}


.main-nav__link {
  @include hover-nav;
  padding: 10px;

  color: inherit;
}


@media (max-width: $desktop-width--min) {
  .main-nav {
    display: none;

    &--open {
      position: absolute;
      top: 99%;
      left: 0;
      z-index: 999;

      display: flex;
      flex-direction: column;

      width: 100%;
      padding: 10px;

      background-color: $color-bg--tertiary;

      box-shadow: 0 9px 10px -5px $color-bg--dark-50;

      .main-nav__list {
        justify-content: flex-start;
        flex-direction: column;
      }

      .main-nav__item {
        margin: 10px;

        &--main {
          display: block;
        }
      }
    }
  }

  .no-js {
    .main-nav {
      position: static;

      display: flex;
      flex-direction: column;

      width: 100%;
      padding: 10px;

      // background-color: $color-bg--tertiary;

      // box-shadow: 0 9px 10px -5px $color-bg--dark-50;
    }

    .main-nav__list {
      justify-content: flex-start;
      flex-direction: column;
    }

    .main-nav__item {
      margin: 10px;

      &--main {
        display: block;
      }
    }
  }
}
