.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 999;

  display: none;

  margin: 0 auto;

  transform: translate(-50%, -50%);

  overflow-y: auto;

  // animation: fadein reverse 0.4s;


  &--success {
    top: 50vh;
    z-index: 9999;
    // display: block;

    background-color: $color-bg--primary;

    box-shadow: 0 0 20px 5px rgba($color--black, 0.5);
  }

  &--failure {
    top: 50vh;
    z-index: 9999;
    // display: block;

    background-color: $color-bg--primary;

    box-shadow: 0 0 20px 5px rgba($color--black, 0.5);

    .modal__btn-wrapper {
      padding: 25px 20px;
    }

    .modal__btn {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &--show {
    display: block;

    animation: fadein 0.4s;
  }
}

.modal__wrapper {
  margin: 0 auto;
  padding: 40px 20px 30px;

  text-align: center;
}

.modal__title {
  @include reset;
  margin-bottom: 25px;

  font-size: 1.2rem;
  font-size: var(--font-size-md);
  line-height: 1.33;
  color: $color--dark;
}

.modal__error {
  @include reset;
  margin-bottom: 10px;
}

.modal__desc {
  @include reset;
  margin-bottom: 10px;
}


.modal__btn-wrapper {
  // display: flex;
  margin: 0 auto;
  padding: 50px 20px;

  text-align: center;

  background-color: #315d6e;
}


.modal__btn {
  padding: 20px;

  &:hover {
    background-color: #b8b8b8;
  }

  &:active {
    // background-color: #edd9ce;
    opacity: 0.8;
  }
}


.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 18px;

  background-color: transparent;

  border: none;

  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    // top: 15px;
    // right: 0;
    width: 36px;
    height: 3px;
    background-color: $color-bg--light;
    // border-radius: 3px;
    transition: background-color 0.25s ease;
  }

  &::before {
    transform: translate(-50%, 50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%, 50%) rotate(45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: $color-btn--accent;
    transition: background-color 0.25s ease;
  }

  &:active::after,
  &:active::before {
    opacity: 0.8;
  }
}

@media (max-width: $tablet-width) {
  .modal {
    top: 0;

    width: 85vw;

    transform: translate(-50%, 95px);
  }
}


@media (max-width: $mobile-width--max) {
  .modal {
    top: 0;
    // bottom: 0;

    // max-height: 100%;

    transform: translate(-50%, 70px);
  }
}

.no-js .modal__btn-close {
  display: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
