.modal__window {
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 1;

  display: none;

  margin: 0 auto;

  transform: translate(-50%, -50%);


  // animation: fadein reverse 0.4s;


  &--success {
    z-index: 2;
    // display: block;

    background-color: $color-bg--primary;

    box-shadow:  0 0 20px 5px $color-bg--black-50;
  }

  &--failure {
    z-index: 2;
    // display: block;

    background-color: $color-bg--primary;

    box-shadow:  0 0 20px 5px $color-bg--black-50;

    .modal__btn-wrapper {
      padding: 25px 20px;
    }

    .modal__btn {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &--show {
    display: block;

    animation: fadein 0.4s;
  }
}

.modal__wrapper {
  margin: 0 auto;
  padding: 40px 20px 30px;

  text-align: center;
}

.modal__title {
  @include reset;
  margin-bottom: 25px;

  font-size: 1.2rem;
  line-height: 1.33;
  color: $color--black;
}


.modal__desc {
  @include reset;
}


.modal__btn-wrapper {
  // display: flex;
  margin: 0 auto;
  padding: 50px 20px;

  text-align: center;

  background-color: #315D6E;
}


.modal__btn {
  padding: 20px;
}


.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 18px;

  background-color: transparent;

  border: none;

  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    // top: 15px;
    // right: 0;
    width: 36px;
    height: 3px;
    background-color: $color-bg--white;
    // border-radius: 3px;
    transition: background-color 0.25s ease;
  }

  &::before {
    transform: translate(-50%, 50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%, 50%) rotate(45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: $color-btn--accent;
    transition: background-color 0.25s ease;
  }

  &:active::after,
  &:active::before {
    opacity: 0.8;
  }
}

@media (max-width: $tablet-width) {
  .modal__window {
    width: 85vw;
  }
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
