.modal {
  position: relative;

  width: 50vw;
  margin: 0 auto;
  padding: 30px;

  background-color: aqua;
}


.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
}


.modal__form {
  display: flex;
  flex-direction: column;
}


.modal__policy-desc {

}


.modal__policy-link {
}
