.page-footer {
  // min-height: 100px;
  padding: 30px 0;

  background-color: $color-bg--primary;

  box-shadow: 0 1px 5px 0 rgba($color--black, 0.3);
}

.page-footer__wrapper {
  display: flex;
  // flex-wrap: wrap;
}

.page-footer__logo {
  display: flex;
  align-items: center;

  margin-right: 30px;

  // margin-right: 0;
}

.page-footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: stretch;
  flex: 1 1 auto;
}

.page-footer__nav {
  margin-bottom: 25px;
}


// .page-footer__social {
// }


.page-footer__info {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  font-size: 0.8rem;
  font-size: var(--font-size-sm);

  svg {
    flex-shrink: 0;
  }
}

.page-footer__mail,
.page-footer__phone {
  display: flex;
  align-items: center;

  // padding-left: 20px;

  column-gap: 5px;
  color: $color--logo;

  span {
    color: $color--primary;
  }

  &:hover span {
    color: $color-btn--accent;
  }

  &:active span {
    opacity: 0.6;
  }
}

.page-footer__address {
  @include reset;
  position: relative;
  padding-left: 25px;

  // margin-bottom: 10px;

  font-size: 0.8rem;
  font-size: var(--font-size-sm);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 25px;

    background-image: url("../img/icon-pin.svg");
    background-repeat: no-repeat;
    background-size: 15px;
  }
}

// .page-footer__copyright {
//   @include reset;
// }


.page-footer__policy {
  @include reset;

  font-size: 0.8rem;
  font-size: var(--font-size-sm);

  color: inherit;

  &:hover {
    color: $color-btn--accent;
  }

  &:active {
    opacity: 0.6;
  }
}


@media (max-width: $desktop-width--min) {
  .page-footer__content {
    flex-direction: row;
    align-items: center;
  }

  .page-footer__nav {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    margin-bottom: 0;
  }

  .page-footer__info {
    flex-direction: column;
    align-self: stretch;

    justify-content: center;
    padding-right: 75px;
  }

  .page-footer__social {
    order: -1;
    margin-bottom: 40px;
  }

  .page-footer__address {
    margin-bottom: 40px;
  }

  .page-footer__logo {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width--max) {
  .page-footer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__content {
    flex-direction: column;
  }

  .page-footer__info {
    padding-right: 0;
  }

  .page-footer__logo {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile-width--max) {
  .page-footer__logo {
    margin-bottom: 30px;
  }
}
