.page-header {
  position: absolute;
  // position: fixed;

  top: 0;
  left: 0;
  // z-index: 999;
  // right: 0;
  width: 100%;

  // background-color: $color--white;
  background-color: $color-bg--primary;

  box-shadow: 0 1px 5px 0 $color-bg--black-10,
        inset 0 0 30px 0 $color-bg--black-10;
}


.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 90px;
}


// .page-header__logo {
// }


.page-header__burger {
  display: none;
}


// .page-header__main-nav {
// }

.page-header__phone {
  display: flex;
  align-items: center;

  // padding-left: 20px;

  color: $color-btn--accent;

  &:hover {
    color: $color-btn--accent-80;
  }
}

.page-header__phone-btn {
  display: none;
}

@media (max-width: $desktop-width--min) {
  .page-header {
    position: fixed;

    z-index: 999;
  }


  .page-header__burger {
    position: relative;

    display: block;
    box-sizing: content-box;

    width: 40px;
    height: 2px;
    padding: 20px;

    background-color: $color-btn--primary;
    background-clip: content-box;

    border: none;

    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;


    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 20px;

      width: 40px;
      height: 2px;

      background-color: $color-btn--primary;

      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::before {
      top: 10px;
    }

    &::after {
      top: 30px;
    }


    &:hover,
    &:focus {
      background-color: $color-btn--accent;

      &::before,
      &::after {
        background-color: $color-btn--accent;
      }
    }


    &:active {
      background-color: $color-btn--accent-80;

      &::before,
      &::after {
        background-color: $color-btn--accent-80;
      }
    }


    &--open {
      background-color: transparent;

      &::before,
      &::after {
        top: 50%;
        left: 20px;

        width: 40px;
        height: 2px;

        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);

        background-color: $color-btn--primary;
      }


      &::before {
        transform: rotate(45deg);
      }


      &::after {
        transform: rotate(-45deg);
      }


      &:hover,
      &:focus {
        background-color: transparent;

        &::before {
          background-color: $color-btn--accent;
        }


        &::after {
          background-color: $color-btn--accent;
        }
      }


      &:active {
        background-color: transparent;

        &::before {
          background-color: $color-btn--accent-80;
        }


        &::after {
          background-color: $color-btn--accent-80;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .page-header__phone {
    position: absolute;
    top: 95%;
    left: 50%;
    display: none;

    width: max-content;
    padding: 10px;

    text-align: center;

    background-color: $color-bg--white;

    border: 1px solid $color-btn--accent;
    border-radius: 15px;

    transform: translate(-50%);


    &--open {
      display: flex;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -11px;

      width: 20px;
      height: 20px;

      background-color: $color-bg--white;

      border-top: 1px solid $color-btn--accent;
      border-left: 1px solid $color-btn--accent;

      transform: rotate(45deg);
    }
  }

  .page-header__phone-btn {
    display: block;

    color: $color-btn--accent;

    background-color: transparent;

    &:hover {
      color: $color-btn--accent-80;
    }
  }
}


.no-js {
  .page-header__burger {
    display: none;
  }
}
