.partners {
  min-height: 100vh;

  display: flex;
  align-items: center;

  background-color: $color-bg--secondary-dark;
  background-image: url("../img/bg-partners-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 10%;
}

.partners__wrapper {
  width: 80vw;
  padding-top: 50px;
  padding-bottom: 50px;

  color: $color--white;
  text-align: center;

  background-color: $color-bg--black-80;
}


.partners__title {
  color: inherit;
}


.partners__desc {
  @include reset;

  color: inherit;
}
