.services {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  align-items: center;

  background-color: $color-bg--secondary-dark;
  background-image: linear-gradient(-45deg, #bd987b, #d1cac7, #315d6e, #3b4578);
  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}


.services__wrapper {
  max-width: 80vw;
  padding-top: 20px;
  padding-bottom: 50px;

  background-color: $color-bg--light-50;

  box-shadow: 0 4px 24px 1px rgba($color--black, 0.3);
}


.services__title {
  margin: 0 auto;
  margin-bottom: 1.5vh;
  // margin-bottom: 20px
  // text-align: center;
}

.services__subtitle {
  @include reset;

  margin-bottom: 5px;
  // width: 60vw;
  font-size: 1.5rem;
  font-size: var(--font-size-md);
  line-height: 1.4;
  // text-align: center;
}


.services__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  text-align: center;
  // grid-template-rows: 1fr 1fr;
}


.services__item {
  position: relative;

  justify-items: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;
  padding-top: 70px;

  text-align: center;

  background-color: #f5f5f5;

  border-radius: 10px;


  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-size: 40px 40px;

    transform: translate(-50%);
  }


  &--design::after {
    background-image: url("../img/services-icon-design.svg");
  }

  &--manufacture::after {
    background-image: url("../img/services-icon-manufacture.svg");
  }

  &--complete::after {
    background-image: url("../img/services-icon-complete.svg");
  }

  &--deliver::after {
    background-image: url("../img/services-icon-delivery.svg");
  }

  &--assembly::after {
    width: 50px;
    height: 50px;

    background-image: url("../img/services-icon-assembly.svg");
    background-size: 50px 50px;
  }

  &--guaranty::after {
    background-image: url("../img/services-icon-guaranty.svg");
  }
}


.services__desc {
  @include reset;
  margin-top: 5px;

  line-height: 1.7;
}

@media (max-width: $desktop-width--min) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    text-align: center;
    // grid-template-rows: 1fr 1fr;
  }
}


@media (max-width: $tablet-width) {
  .services__wrapper {
    padding-bottom: 15px;
  }

  .services__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;

    text-align: center;
    // grid-template-rows: 1fr 1fr;
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
