// .title {
// }



.title {
  @include reset;

  font-family: $font-family--title;
  // font-size: 4rem;
  font-size: calc(var(--index) * 2.05);
      // font-size: 3.3vw;

  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}
