// .title {
// }

.title {
  @include reset;
  margin: 0 auto;
  margin-bottom: 1.5vh;

  font-family: $font-family--title;
  font-size: calc(var(--font-fallback) * 2.5);
  font-size: var(--font-size-xxl);
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}
