// .title {
// }

.title {
  @include reset;
  // max-width: 100%;
  max-width: 75ch;
  overflow-wrap: break-word;

  font-family: $font-family--title;
  font-size: 3.56rem;
  font-size: var(--font-size-xxl);
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}
