@mixin reset {
  margin: 0;
  padding: 0;
}


@mixin reset-list {
  @include reset;
  list-style: none;
}

@mixin hover-nav {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;

    display: block;
    width: 0;
    height: 2px;

    background-color: $color--accent;

    transition: background 0.5s, width 0.5s, left 0.5s;
  }


  &:hover {
    color: $color--accent;

    transition: color 0.5s;


    &::after {
      left: 0;
      width: 100%;

      transition: width 0.5s, left 0.5s;
    }
  }
}
